@font-face {
    font-family: "montserrat";
    src: url(~/Fonts/montserrat-black_[allfont.es].ttf) format("truetype");
}

.App-background{
  height: auto;
  width: 100%;
}

.bg-dark{
  background-color: #454868 !important;
}

.App-card-img{
  width: 14rem;
}

.App-position-h3-text{
  top: 83%;
  left: 350%;
  transform: translate(-50%, -50%);
  font-family: montserrat;
  font-weight: bold;
}

.App-position-h3-text:hover{
  color: #343a40 !important;
}

.Candidates {
  background-image: url(../img/landing4.png);
  padding-top: 10rem !important;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.style{
  height: 12rem;
}
